<!DOCTYPE html>
  <title>Portfolio</title>
  <style>
    .sidebar{max-width: 200px; min-width: 200px;}
  </style>

{% extends 'layout.html' %}
{% block content %}
        <div class="content p-3">
          <div class="page-title border-bottom pb-2 ">
              <h2>Main page</h2>
          </div>
          <div class="container-fuild pt-3">
            <div class="row">
              <div class="col-6">コンテンツ1
                <p>
                  ここに図や表などを掲載する予定でした。<br>
                </p>
              </div>
              <div class="col-6">コンテンツ2
                <p>
                  ここに図や表などを掲載する予定でした。<br>
                </p>
              </div>
            </div>
          </div>
        </div>
{% endblock %}
