<!DOCTYPE html>
  <title>Portfolio</title>
  <style>
    .sidebar{max-width: 200px; min-width: 200px;}
  </style>


{% extends 'layout.html' %}
{% block content %}
        <div class="content p-3">
          <div class="page-title border-bottom pb-2 ">
              <h2>訪問先一覧</h2>
          </div>
          <div class="container-fuild pt-3">
            <div class="row">
							<table class="table table-striped table-hover">
								<thread>
									<tr>
										{% for i in header: %}
										<th scope="col">{{ i }}</th>
										{% endfor %}
									</tr>
									</thread>
									<tbody>
										{% for i in record: %}
										<tr>
											{%  for j in i: %}
											<td>{{ j }}</td>
											{% endfor %}
										</tr>
										{% endfor %}
									</tbody>
								</table>
            </div>
          </div>
        </div>
{% endblock %}
