<!DOCTYPE html>
  <title>Portfolio</title>
  <style>
    .sidebar{max-width: 200px; min-width: 200px;}
  </style>


{% extends 'layout.html' %}
{% block content %}
        <div class="content p-3">
          <div class="page-title border-bottom pb-2 ">
              <h2>経路案内</h2>
          </div>
          <div class="container-fuild pt-3">
						<h3>経路案内</h3>
            <div class="row">
							<table class="table table-striped table-hover">
								<thread>
									<tr>
										<th> scope="col">{{ i }}</th>
									</tr>
									</thread>
									<tbody>
										<tr>
											<td>{{ j }}</td>
										</tr>
									</tbody>
								</table>
            </div>
          </div>
        </div>
{% endblock %}
